@{
    Layout = "~/_Layout1.cshtml";
    Page.Title = "Home";
}



<div>
    @section banner{
        <h1>Peyton Walton</h1>
        <h2>pwalton3@studentmail.nait.ca</h2>
        <h3>pwalton3</h3>
    }
</div>